html {
    scroll-behavior: smooth;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(75, 75, 75);
    font-family: Calibri, sans-serif;
    font-size: xx-large;
}

.page {
    padding-top: 5%;
    padding-bottom: 12%;
}
.trisim{
    height:450px;
}
.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 400px 0 0 400px;
    border-color: transparent transparent transparent #ff46325e;
    z-index: 2;
    transform: rotate(0deg);
}
#quarters {
    margin-top: -400px;
    margin-left: -25px;
    display: none;
    z-index: 1;
}
.quarter {
    height: 100px;
    width: 100px;
    background: url("https://upload.wikimedia.org/wikipedia/en/0/0f/2022_Washington_quarter_obverse.jpeg");
    background-size: 100px;
    border-radius: 50%;
    display: inline-block;
}
#nickels {
    margin-top: -400px;
    margin-left: -25px;
    display: none;
    z-index: 1;
}
.nickel {
    height: 80px;
    width: 80px;
    background: url("https://upload.wikimedia.org/wikipedia/en/c/ce/US_Nickel_Obverse.jpeg");
    background-size: 80px;
    border-radius: 50%;
    display: inline-block;
}
#pennies {
    margin-top: -400px;
    margin-left: -25px;
    display: none;
    z-index: 1;
}
.penny {
    height: 62px;
    width: 62px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/US_One_Cent_Obv.png/220px-US_One_Cent_Obv.png");
    background-size: 62px;
    border-radius: 50%;
    display: inline-block;
}
#infinity1, #infinity2 {
    background-size: contain;
    border: dashed 40px;
    border-color:#fd1d1d;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: -20px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    display: inline-block;
    }
    @keyframes spin {
      from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }